*{  
    margin: 0;
    padding: 0;
}

.centralizado {
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

.primeira{
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.segunda{
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.terceira{
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.quarta{
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}